<nb-card>
  <nb-card-header>
    <div class="header-container">
      <div>
        <h4>Gestion des Budgets</h4>
        <p class="subtitle">Investissement et Exploitation</p>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab
        tabTitle="Investissement"
        tabIcon="trending-up-outline"
        [badgeText]="tab1BadgeCount"
        badgeStatus="primary"
        responsive
      >
        <ngx-tab1></ngx-tab1>
      </nb-tab>

      <nb-tab
        tabTitle="Exploitation"
        tabIcon="activity-outline"
        [badgeText]="tab2BadgeCount"
        badgeStatus="info"
        responsive
      >
        <ngx-tab2></ngx-tab2>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
